
body{
	margin: 30px 10px;
	background: #eceff4;
	background: #e9ecef;
}

.row{
	margin-top: 10px;
	margin-bottom: 10px; 
}

.darkgrey{
	color:#495057;
}

.btn-group{
	vertical-align: bottom;
}

.faded{
	background: #f4f4f4;
}

.btn-dark{
	vertical-align: bottom;
	background: #495057;
}

.btn-circle{
    border-radius: 50%;
}

table{
	margin-top: 20px;
}

table th{
    color: #070067;
	font-weight: 600;
	line-height: 12px;
}

table .search-row .form-control{
    width: 90%;
}

.pen-wrapper{
	display: inline-block;
	background: #070067;
    width: 16px;
    height: 16px;
    text-align: center;
}

.pen-wrapper .fa-pen{
	color:white;
	padding: 2px;
	font-size: 0.5em;
    vertical-align: middle;
}