
body{
	margin: 30px 10px;
	background: #e9ecef;
}

.row{
	margin-top: 10px;
	margin-bottom: 10px; 
}

.darkgrey{
	color:#495057;
}

.btn-group{
	vertical-align: bottom;
}

.faded{
	background: #f4f4f4;
}

.btn-dark{
	vertical-align: bottom;
	background: #495057;
}

.border-circle{
    border-radius: 50%;
}

table{
	margin-top: 20px;
}

table th{
    color: #070067;
	font-weight: 700;
	font-size: 13px;
	line-height: 12px;
}

table .search-row .form-control{
    width: 90%;
    min-width: 130px;
}

.table td, .table th {
    vertical-align: middle;
}

.table tbody tr.table-light{
	color: #070067;
    border-bottom: 5px solid #e9ecef;
    height: 60px;
}

.table .fa-route{
	margin: 0px 20px;
}

.pen-wrapper{
	display: inline-block;
	background: #070067;
    width: 16px;
    height: 16px;
    text-align: center;
}

.pen-wrapper .fa-pen{
	color:white;
	padding: 2px;
	font-size: 0.5em;
    vertical-align: middle;
}

@media only screen and (max-width: 768px) {
	.date-selector{
		width: 120px;
	}
} 
@media only screen and (max-width: 425px) {
	.date-selector{
		width: 85px;
		font-size: 12px;
    	height: 40px;
	}
} 