
body{
	margin: 30px 10px;
	background: #eceff4;
	background: #e9ecef;
}

.row{
	margin-top: 10px;
	margin-bottom: 10px; 
}

.darkgrey{
	color:#495057;
}

.btn-group{
	vertical-align: bottom;
}

.form-control, .input-group-prepend, .input-group-text{
	background: #f4f4f4;
}

.btn-dark{
	vertical-align: bottom;
	background: #495057;
}

.btn-circle{
    border-radius: 50%;
}